Requirements:

We created a desktop app, so python is to be present in the system it is supposed to run
Import pandas and numpy packages in python.
Import train_test_split from sklearn.model_selection 
Import RandomForestClassifier from sklearn.ensemble

